<!DOCTYPE html>
<html>
<head>
    <title>
        Городская библиотека
    </title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
</head>
<body>
<h1>Книги hw4:</h1>
{% if book %}
<table class="customTable">
    <thead>
    <tr>
        <th>Описание</th>
        <th>Счетчик просмотров</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            {{ book[1] }}
        </td>
        <td>
            {{ book[2] }}
        </td>
    </tr>
    </tbody>
</table>
{% else %}
<h2> Sorry, no books in DB.</h2>
{% endif %}
<a href="/books">На главную</a><br>
<a href="/books/form">Добавить книгу</a><br>
<a href="/books/author">Поиск по автору</a><br>

</body>
</html>
